---
import { Image } from "@astrojs/image/components";
import { FaHome, FaTwitter, FaYoutube } from "react-icons/fa/index.js";
import Head from "../components/Head.astro";
import LinkCard from "../components/LinkCard.astro";
---

<html lang="en">
  <Head />
  <body class="mt-16 flex flex-col items-center px-8">
    <header class="flex flex-col items-center">
      <Image
        src="/toastedtoast.jpg"
        alt="Toastify Logo"
        format="webp"
        width={96}
        height={96}
        class="rounded-full"
      />
      <h1 class="mb-8 mt-4 text-xl font-bold">ToastedToast</h1>
    </header>
    <main class="flex w-full flex-col items-center">
      <LinkCard
        href="https://toastify.tk"
        title="Website"
        icon={FaHome}
        color="#000"
      />
      <LinkCard
        href="https://youtube.com/@ToastedDev"
        title="YouTube"
        icon={FaYoutube}
        color="#f00"
      />
      <LinkCard
        href="https://twitter.com/ToastedDev"
        title="Twitter"
        icon={FaTwitter}
        color="#1DA1F2"
      />
    </main>
  </body>
</html>
